:root {
    --orange: #f25f20;
    --white: #eae6e5;
    --black: #12130f;
    --dark-green: #5b9279;
    --light-green: #8fcb9b; 
}

@font-face {
    font-family: "Lato";
    src: url("fonts/Lato/Lato-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Lato";
    src: url("fonts/Lato/Lato-Light.ttf") format("truetype");
    font-weight: lighter;
}

@font-face {
    font-family: "Lato";
    src: url("fonts/Lato/Lato-Bold.ttf") format("truetype");
    font-weight: bold;
}

.mobile-topnav {display:none;}

@media screen and (max-width: 600px) {
    .topnav {display:none;}
    .mobile-topnav {display:block;}
    .wug {display:none;}
}

h1 {
    font-family: "Times New Roman", serif;
}

body, html {
    margin: 2vh 5vw 2vh 5vw;
}
    
body {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    background-color: var(--white);
    color: var(--black);
}

.footer {
    height: 5em;
    margin-bottom: 4em;
    margin-top: 7em;
    text-align: right;
    list-style-type: none;
    padding: 0;
}

.footer li div.right {
    float: right;
}

.footer div.left {
    float: left;
    text-align: left;
}

.footer div.left li, .footer div.right li{
    margin-bottom:1em;
}

.footer div.left img {
    float: left;
    height: 1.5em;
    padding-left: 0em;
    padding-right: 0.5em;
}

.wug {
    height: 4em;
    margin-bottom: 0em;
}    

.footer img, .wug img {
    height: 4em;
    padding-left: 0.5em;
}    

a:link {
    color: var(--dark-green);
}

a:visited {
    color: var(--light-green);
}

.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: var(--black);
    overflow: hidden;
}

.topnav li a {
    font-weight: bold;
    float: left;
    color: var(--white);
    text-align: center;
    padding: 0.4em 0.8em 0.4em 0.8em;
    text-decoration: none;
}

.topnav a:hover {
    background-color: var(--orange);
}

.topnav-right {
    float: right;
}

.mobile-topnav img {
    height: 4em;
    margin-top: 1em;
    margin-left: 50%;
    transform: translate(-50%)
}

.menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.menu a {
    background-color: var(--black);
    font-weight: bold;
    text-align: center;
    display:block;
    padding: 0.4em 0.8em 0.4em 0.8em;
    text-decoration: none;
    color: var(--white);
}

.collapsible {
    background-color: var(--black);
    font-weight: bold;
    text-align: center;
    display:block;
    padding: 0.6em 0.8em 0.6em 0.8em;
    color: var(--white);
    width:100%;
    border:none;
}

.active, a.active {
    background-color: var(--orange);
}

.events ul {
    list-style-type: none;
    padding:0;
    
}

img {
    max-width:100%;
    height:auto;
}

ul.articles {
    padding-lesft: 1.6em;
}

ul.articles a {
    font-family: "Lato", sans-serif;
    font-size: large;
    font-weight: bold;
}

ul.articles li {
    font-size: medium;
    padding-bottom: 1.6em;
}

